{% extends "base.html" %} {% block title %}Create New List{% endblock %}
{% block content %}
<form method="POST">
    <div class="mb-3">
        <label for="FormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" name="listName" id="listName">
    </div>
    <div class="mb-3">
        <label for="FormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" name="listDescription" id="listDescription" rows="2"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-lg btn-block">Continue</button>
</form>
<br />
<a href='/'><button button class="btn btn-danger btn-lg btn-block">Cancel</button></a>
{% endblock %}